/* 輪播圖 */
.slideShow {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: .8em;
}
.slideShow .wrap{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slideShow .wrap .imgs{
  width: 100%;
  display: flex;
}
/* 這裡shrink防止圖片因為flex收縮變形 */
.slideShow .wrap .imgs img {
  flex-shrink: 0;
}
/* slideShow的切換按鈕 */
.imgSwitch {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto 3px auto;
}
.imgSwitch > span {
  background: rgba(30, 30, 30, 0.5);
  border-radius: 100%;
  width: 1.2em;
  height: 1.2em;
  margin: 0 .3em;
  cursor: pointer;
}
.imgSwitch > .targetColor{
  background: rgba(30, 30, 30, .8);
}
.imgSwitch > span:hover{
  background: rgba(30, 30, 30, .8);
}

/* 內容 */
.content {
  max-width: 1200px;
  min-height: 60%;
  margin: 0 auto;
  font-size: .85em;
}

.content a {
  font-size: 1.3em;
  line-height: 2em;
  color: rgba(43, 42, 42, 0.821);
}

.content a:hover {
  color: rgb(231, 33, 56); 
  transition: 0s;
}

.content h2 {
  font-size: 1.6em;
  color: rgba(206, 50, 50, 0.861);
}

.content > .wrap{
  display: flex;
}

.row {
  display: flex;
  width: 100%;
  margin: .2em 0;
}
/* 左邊內容 */
.article1 {
  width: 60%;
  display: flex;
  box-shadow: 2px 0px rgba(132, 131, 131, 0.218);
}

.article1 > div{
  width: 50%;
}

.article1 .row > .wrap {
  width: 90%;
  display: flex;
  justify-content: center;
}

.article1 .row > .wrap > div {
  width: 50%;
}

.article1 > div:nth-child(2) {
  padding-left: 2em;
}

/* 右邊內容 */
.content .article2 {
  width: 40%;
  box-sizing: border-box;
  padding-left: 2em;
}

.content .article2 .wrap {
  width: 100%;
  position: relative;
}

.content .article2 span {
  font-size: 1em;
  padding-right: .2em;
}

/* 裝飾  */
.content h2 {
  position: relative;
  padding-bottom: .3em;
}

/* article的h2文字體下面的底線 */
h2::before {
  content: '';
  width: 4em;
  height: 1px;
  background: rgba(0, 0, 0);
  position: absolute;
  left: 0;
  top: 90%;
} 

h2::after {
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(28, 25, 25, 0.25);
  position: absolute;
  left: 0;
  top: 90%;
} 

.article2 .wrap::after {
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(28, 25, 25, 0.25);
  position: absolute;
  left: 0;
  top: 90%;
}
/* ---------------------- */

.imgIcon {
  margin-top: .5em;
  max-width: 100%;
}

/* font-awsome */
i {
  font-size: 1em;
  padding-right: 4px;
}

.text1 i {
  color: rgb(255, 6, 122);
}

.text2 i {
  color: rgb(78, 8, 255);
}