/* RWD */
@media screen and (min-width: 720px) {
  header ul li:hover a{
    color: rgb(255, 255, 255);
    transition: .3s;
  }
  
  header ul li:not(:nth-child(5)):hover { /* 第五個ul不變色 */
    background: rgba(102, 101, 101, 0.606);
    transition: .3s;
  }
 
  ul > label {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  header ul li{
    font-size: 16px;
    letter-spacing: 0;
  }

  .slideShow { /* 把上方padding-top去掉 */
    padding-top: 0;
  }
  .content > .wrap {
    flex-direction: column;
  }
  .content .article1 {
    width: 100%;
    text-align: center;
  }

  .article1 .row {
    justify-content: center;
  }

  .article1 > .row > .wrap {
    width: 80%;
  }

  .content .article2 {
    width: 100%;
    text-align: center;
  }

  /* h2標題下面的線置中 */
  h2::before { 
    left: 0;
    right: 0;
    margin: auto;
  } 
  /* ----------------- */
}

@media screen and (max-width: 720px) {
  header div:nth-child(1) {
    width: 50%;
  }

  /* 導覽列中文字體變成選單 */
  header ul {
    width: 3em;
    flex-direction: column;
    justify-content: center;
  }
  header ul li{
    list-style-type: none;
    letter-spacing: 0;
    line-height: 0;
    width: 1.6em;
    height: 4px;
    margin: .25em 0;
    padding: 0;
    background: rgba(70, 67, 67, 0.801);
    position: relative;
  }
  header ul li > a{
    display: none;
  }
  header ul li:nth-child(2n+2) {
    display: none;
  }

  ul > label {
    display: block;
  }
  /* --------------------------- */

  .slideShow {
    display: none;
  }
  .content .article1 {
    flex-direction: column;
  }
  .content .article1 > div {
    width: 100%;
  }

  /* 因為手機都是一個圖片一版面，所以不需要padding-left */
  .content .article1 > div:nth-child(2) { 
    padding-left: 0;
  }

  .article1 .row > .wrap {
    width: 80%;
  }
  
  .content .article2 {
    padding-left: 0;
  }
  .content a {
    font-size: 1.3em;
  }
  /* --------------------------- */

  /* 這裡css沒寫好，還沒完全理解nth-child和nth-of-type的用法 */
  .content .article1 div:nth-child(2) h2{
    padding-top: 16px;
  }

  .content .article2 h2 {
    padding-top: 16px;
  }
  /* -------------------------------------------------- */
}